* {
    box-sizing: border-box;
    
}

form {
    position: relative;
    width: 650px;
    margin: 0 auto;
  
   
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #72ca6a;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
    position: relative;
    
}

button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 42px;
    border: none;
    background: #72ca6a;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}



    .topnav {
        background-color: #72ca6a;
        overflow: hidden;
        box-shadow: 0px 10px 10px rgb(187, 241, 187) inset;
        }
           
        .topnav a {
            float: left;
            color: #faf6d6;
            text-shadow: 2px 2px 4px #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 15px;
        }
    
            
            .topnav a:hover {
                background-color: #60b958;
                color: rgb(229, 236, 162);
            }
    
    
            .topnav a.active {
                color: #ecd3d3;
                
            }
ul {
    width: 180px; 
    list-style: none;  
}

li ul {
    position: absolute; 
    display: none; 
    margin-top: 50px;
}

li a {
    display: block; 
    padding: 5px; 
    text-decoration: none; 
    color: #666; 
    border:  ; 
    background-color: #72ca6a; 
    box-shadow: 10px 10px 10px rgb(192, 248, 195) inset;
    border-bottom: none; 
    width: 190px;
    height: 50px;
}

    li a:hover {
        color: #ffe; 
        background-color: #5488af; 
    }

li:hover ul {
    display: block; 
}

section {
    padding: 40px 9%;
}


.home {
    background: url("fon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

    .home .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
    }

        .home .row .content {
            flex: 1 1 450px;
        }

        .home .row .books-slider {
            flex: 1 1 400px;
            text-align: center;
            margin-top: 32px;
        }

            .home .row .books-slider a img {
                height: 200px;
            }

            .home .row .books-slider a:hover img {
                transform: scale(.9);
            }

            .home .row .books-slider .stand {
                width: 100%;
                margin-top: -10px;
            }

        .home .row .content h3 {
            color: var(--black);
            font-size: 35px;
        }

        .home .row .content p {
            color: var(--light-color);
            font-size: 14px;
            line-height: 2;
            padding: 16px 0;
        }

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 7px;
    width: 100%;
}

    .icons-container .icons {
        display: flex;
        gap: 15px;
        padding: 5px 0;
    }

        .icons-container .icons i {
            font-size: 40px;
            color: var(--green);
        }

        .icons-container .icons h3 {
            font-size: 20px;
            color: var(--black);
            padding-bottom: 8px;
        }

        .icons-container .icons p {
            font-size: 15px;
            color: var(--light-color);
        }
.footer {
    background-image: linear-gradient(45deg, #a2ff93, #d9f1a1);
    width: 100%;

}


    .footer .box-container {
        display: grid;
        grid-template-columns: 320px 350px 300px 330px;
   
    }

        .footer .box-container .box h3 {
            font-size: 20px;
            color: dimgray;
            padding: 16px 0;
        }

            .footer .box-container .box h3 i {
                color: green;
            }

        .footer .box-container .box .links {
            display: block;
            font-size: 13px;
            color: dimgray;
            padding: 6px 0;
        }

            .footer .box-container .box .links i {
                color: green;
                padding-right: 8px;
            }

            .footer .box-container .box .links:hover i {
                padding-right: 16px;
            }


        .footer .box-container .box p {
            font-size: 17px;
            color: dimgray;
        }

        .footer .box-container .box .share a {
            height: 50px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
            color: dimgray;
            margin-top: 5px;
            margin-right: 3px;
            background-color: #faf6d6;
            text-align: center;
        }

            .footer .box-container .box .share a:hover {
                background-color: green;
                color: #fff;
                
            }

        .footer .box-container .box .email {
            width: 80%;
            margin: 7px 1px;
            padding: 10px;
            background-color: #faf6d6;
            font-size: 15px;
            color: black;
            text-transform: none;
        }

.footer .box-container .box .btn{
    width: 80%;
}
    .footer .creator p {
        text-align: center;
        font-size: 15px;
        margin-top: 20px;
    }
